height, body {
 min-height: 100vh; 
}

body {
 font-family: 'Droid Sans', sans-serif; 
}

.wrapper {
 display: flex;
 flex-direction: column;
 min-height: 100vh; 
}

.container-wrapper {
 display: flex;
 flex: 1;
}

h1, h2, h3, h4 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

.header-container {
 padding-top: 40px; 
 background-color: #374140;
 color: #D9CB9E;
 border-bottom: 2px solid #2A2C2B;
}

.header-container h1 {
 margin: 0 0 10px;
}

.body-container .row {
 display: table;
 height: 100%;
 width: 100%;
}

.body-container .row .input-container, .body-container .row .path-container {
   float: none;
   display: table-cell;
   vertical-align: top;
   padding-top: 20px;
 }

.body-container .row .path-container {
   text-align: center;
   padding-bottom: 10px;
}

.well { 
 color: #374140;
}

.well h3 {
 margin-top: 0;
}

.btn {
 border-radius: 0;
}

.valid, .in-valid {
 font-size: 32px;
 font-family: 'Oswald', sans-serif;
}

li.valid {
 color: #3c763d;
 padding-right: 25px;
}

.in-valid {
 color: #a94442;
 }
 
 .form-control.turtle-input {
   height: 300px;
 }
 